*{
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

input {
  width: 70%;
  text-align: center;
  height: 30px;
  padding: 3px 10px;
  border-radius: 10px;
}

.country-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 150px;
  width: 249px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1px solid rgb(212, 212, 212);
  gap: 10px;
}